<header>
    <nav>
        <ul class="nav-Menu">
            {%- for entry in nav %}
                <li
                    class="kb-nav-item {{ 'kb-active' if entry.url == page.url }} ">
                    <a href="{{ kbsite.baseurl }}{{ entry.url }}" class="no-underline border-0" aria-label="{{ entry.title }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
</header>
