<header>
    <p class="site-logo"><a href="/"><img src="/images/KIRK-logo.svg" width="150" alt="Kirk and Blackbeard logo"></a></p>
        <ul class="nav-Menu">
            {%- for entry in nav %}
                <li
                    class="kb-nav-item {% if entry.url == page.url or entry.id == activeNav %} kb-active {% endif %}">
                    <a href="{{ kbsite.baseurl }}{{ entry.url }}" class="no-underline border-0" aria-label="{{ entry.title }}">{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
</header>
