@tailwind base;
@tailwind components;
@tailwind utilities;

img, svg {
    display: inline-block;
}

@layer base {
    @font-face {
        font-family: "SpaceGrotesk";
        src: url("/fonts/SpaceGrotesk-Regular.ttf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "SpaceGrotesk";
        src: url("/fonts/SpaceGrotesk-Bold.ttf");
        font-weight: 800;
        font-style: bold;
        font-display: swap;
    }

    @font-face {
        font-family: "SpaceMono";
        src: url("/fonts/SpaceMono-Regular.ttf");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "SpaceMono";
        src: url("/fonts/SpaceMono-Bold.ttf");
        font-weight: 800;
        font-style: bold;
        font-display: swap;
    }

    body {
        text-rendering: optimizeLegibility;
        font-variant-ligatures: common-ligatures;
        -webkit-font-variant-ligatures: common-ligatures;
        -webkit-font-feature-settings: "kern";
        font-feature-settings: "kern";
        font-kerning: normal;
        overflow-x: hidden;
        width: 100%;
        @apply font-kb-body;
    }

    p {
        @apply mb-4;
    }

    header {
        @apply pt-8 font-kb-extras;
    }

    header p{
        @apply text-center;
    }

    main,
    footer {
        @apply container mx-auto px-8 max-w-2xl;
        @apply text-center;
    }

    main p,
    main ul,
    main ol {
        @apply text-xl;
    }

    main ul,
    main ol {
        @apply ml-8 pb-4;
    }

    main ul {
        @apply list-disc;
    }

    main ol {
        @apply list-decimal;
    }

    main ul li,
    main ol li {
        @apply mb-2;
    }

    main p > img {
        @apply mb-4;
    }

    footer {
        @apply border-t-4 mt-12 pt-8;
    }

    a {
        text-decoration: underline;
        @apply text-kb-darkest-tint;
    }

    a:hover {
        @apply text-kb-alt-tint;
    }

    h1,
    h2,
    h3 {
        @apply font-kb-extras;
    }

    h1 {
        @apply text-4xl mb-4 pt-4 font-black leading-tight;
        @apply text-kb-dark-tint;
    }

    .site-logo {
        @apply pt-4 text-center;
    }

    .site-logo img {
        @apply mx-auto;
    }

    h2 {
        @apply text-3xl mt-12 mb-3 font-extrabold text-kb-darkest-tint;
    }

    h3 {
        @apply text-2xl mt-8 font-bold text-kb-darkest-tint;
    }

    strong {
        @apply font-extrabold;
    }

    blockquote {
        @apply pl-8;
        color: #333332;
        border-left: 4px solid #999;
        font-style: italic;
    }

    code {
        background-color: #ddd;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        padding-right: 0.3em;
        padding-left: 0.3em;
    }
}

@layer components {
    .site-intro {
        @apply border border-kb-dark-tint bg-kb-light-tint/20 p-4;
    }

    .site-intro p {
        @apply text-base;
    }

    .site-intro p:last-of-type {
        @apply m-0 text-base;
    }

    /* NAV COMPONENT */

    header nav {
        @apply p-4;
    }

    .nav-Menu {
        @apply flex flex-row gap-4 lg:gap-12;
        justify-content: center;
    }

    .nav-Menu a {
        @apply text-black/70 underline lg:no-underline transform-none lg:uppercase text-lg lg:text-2xl;
    }

    .nav-Menu a:hover {
        @apply text-black underline;
    }

    .nav-Menu .kb-nav-item {
        @apply list-none font-bold block;
    }

    .nav-Menu .kb-active a {
        @apply text-kb-alt-tint;
    }

    /* END NAV COMPONENT */

    article.in-list {
        @apply my-16;
    }

    .home article.type-link {
        @apply border-y-4 pt-8 pb-2;
    }

    .home article.type-link h2 {
        @apply p-0 m-0 mb-4;
    }

    article.type-link .link-title {
        width: 100%;
        position: relative;
        padding-right: 3em;
        line-height: 0.8em;
        @apply mb-6;
    }

    .post-date {
        @apply text-base font-kb-extras;
    }

    /* PAGINATION */

    .pagination {
        @apply flex flex-row justify-center mt-8;
    }

    .pagination li {
        @apply mr-2 list-none;
    }

    .pagination li a {
        @apply rounded mb-4 py-2 px-3 text-white bg-kb-dark-tint text-xl leading-tight;
    }

    .pagination li a[aria-current="page"] {
        @apply bg-white border-kb-dark-tint border text-kb-dark-tint no-underline;
    }

    /* END PAGINATION */

    .img-content-rounded {
        @apply flex flex-wrap justify-center pb-8;
    }

    .img-content-rounded img {
        @apply object-cover w-64 shadow-lg object-center rounded-full;
    }

    .img-content {
        @apply flex flex-wrap justify-center m-4 mt-8;
    }

    .img-content img {
        @apply object-cover w-2/3 shadow-lg object-center;
    }

    .img-content p {
        @apply text-sm mt-3;
    }

    .img-content-group {
        margin: 1em calc(50% - 50vw);
        text-align: center;
    }

    .img-content-group img {
        @apply w-72 shadow-lg;
        display: inline-block;
    }

    .cta-link {
        display: inline-block;
        @apply bg-kb-alt-tint p-4 text-white font-kb-extras no-underline;
    }

    .cta-link:hover {
        @apply text-white bg-black;
    }
}

@layer utilities {
    .break-out {
        margin: 1em calc(50% - 50vw);
    }

    .break-out > img,
    .break-out > a > img,
    .break-out > p > img,
    .break-out > p > a > img {
        @apply mx-auto;
    }
}
