img, svg {
display: inline-block;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Bold.ttf");
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/fonts/SpaceMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/fonts/SpaceMono-Bold.ttf");
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

body {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    -webkit-font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    overflow-x: hidden;
    width: 100%;
    font-family: SpaceGrotesk, -apple-system, Helvetica Neue, Helvetica, sans-serif;
}

p {
    margin-bottom: 1rem;
}

header {
    padding-top: 2rem;
    font-family: SpaceMono, -apple-system, Helvetica Neue, Helvetica, sans-serif;
}

header p{
    text-align: center;
}

main,
footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 42rem;
}

main p,
main ul,
main ol {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}

main ul,
main ol {
    margin-left: 2rem;
    padding-bottom: 1rem;
}

main ul {
    list-style-type: disc;
}

main ol {
    list-style-type: decimal;
}

main ul li,
main ol li {
    margin-bottom: 0.5rem;
}

main p > img {
    margin-bottom: 1rem;
}

footer {
    border-top-width: 2px;
    margin-top: 3rem;
    padding-top: 2rem;
}

footer p {
    text-align: center;
}

footer p img {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: underline;
    color: rgb(17 17 17);
}

a:hover {
    color: rgb(255 0 255);
}

h1,
h2,
h3 {
    font-family: SpaceMono, -apple-system, Helvetica Neue, Helvetica, sans-serif;
}

h1 {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    margin-bottom: 1rem/* 16px */;
    padding-top: 1rem/* 16px */;
    font-weight: 900;
    line-height: 1.25;
    color: rgb(68 68 68);
}

h2 {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    margin-top: 3rem/* 48px */;
    margin-bottom: 0.75rem/* 12px */;
    font-weight: 800;
    color: rgb(17 17 17);
}

.site-logo {
    padding-top: 1rem/* 16px */;
    text-align: center;
}

.site-logo img {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: 800;
}

blockquote {
    padding-left: 2rem/* 32px */;
    color: #333332;
    border-left: 4px solid #999;
    font-style: italic;
}

code {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

h3 {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    margin-top: 2rem/* 32px */;
    font-weight: 700;
    color: rgb(17 17 17);
}

figcaption {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
}

figure {
    margin-bottom: 2rem;
}

.site-intro {
    border-width: 1px;
    border-color: rgb(68 68 68);
    background-color: rgb(221 221 221 / 0.2);
    padding: 1rem;
}

.site-intro p {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;;
}

.site-intro p:last-of-type {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
}

header nav {
    padding: 1rem/* 16px */;
}

.nav-Menu {
    display: flex;
    flex-direction: row;
    gap: 1rem/* 16px */;
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
    justify-content: center;
}

.nav-Menu a {
    color: rgb(0 0 0 / 0.7);
    text-decoration-line: underline;
    transform: none;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}

.nav-Menu a:hover {
    color: rgb(0 0 0);
    text-decoration-line: underline;
}

.nav-Menu .kb-nav-item {
    list-style-type: none;
    font-weight: 700;
    display: block;
}

.nav-Menu .kb-active a {
    color: rgb(255 0 255);
}

article.in-list {
    margin-top: 4rem/* 64px */;
    margin-bottom: 4rem/* 64px */;
}

.home article.type-link {
    border-top-width: 4px;
    border-bottom-width: 4px;
    padding-top: 2rem/* 32px */;
    padding-bottom: 0.5rem/* 8px */;
}

.home article.type-link h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
}

article.type-link .link-title {
    width: 100%;
    position: relative;
    padding-right: 3em;
    line-height: 0.8em;
    margin-bottom: 1.5rem;
}

.post-date {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: SpaceMono, -apple-system, Helvetica Neue, Helvetica, sans-serif;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.pagination li {
    margin-right: 0.5rem;
    list-style-type: none;
}

.pagination li a {
    border-radius: 0.25rem/* 4px */;
    margin-bottom: 1rem/* 16px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 0.75rem/* 12px */;
    padding-right: 0.75rem/* 12px */;
    color: rgb(255 255 255);
    background-color: rgb(68 68 68);
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    line-height: 1.25;
}

.pagination li a[aria-current="page"] {
    background-color: rgb(255 255 255);
    border-color: rgb(68 68 68);
    border-width: 1px;
    color: rgb(68 68 68);
    text-decoration-line: none;
}

.img-content-rounded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem/* 32px */;
}

.img-content-rounded img {
    object-fit: cover;
    width: 16rem/* 256px */;
    object-position: center;
    border-radius: 9999px;
}

.img-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    margin-top: 2rem;
}

.img-content img {
    object-position: center;
    width: 66.666667%;
    object-fit: cover;
}

.img-content p {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    margin-top: 0.75rem/* 12px */;
}

.img-content-group {
    margin: 1em calc(50% - 50vw);
    text-align: center;
}

.img-content-group img {
    width: 18rem/* 288px */;
    display: inline-block;
}

.img-home {
    aspect-ratio: 1.667;
}

.cta-link {
    display: inline-block;
    background-color: rgb(255 0 255);
    padding: 1rem/* 16px */;
    color: rgb(255 255 255);
    font-family: SpaceMono, -apple-system, Helvetica Neue, Helvetica, sans-serif;
    text-decoration-line: none;
}

.cta-link:hover {
    color: rgb(255 255 255);
    background-color: rgb(0 0 0);
}

.img-home {
    aspect-ratio: 1.667;
}

.cta-link {
    display: inline-block;
    background-color: rgb(255 0 255);
    padding: 1rem/* 16px */;
    color: rgb(255 255 255);
    font-family: SpaceMono, -apple-system, Helvetica Neue, Helvetica, sans-serif;
    text-decoration-line: none;
}

.cta-link:hover {
    color: rgb(255 255 255);
    background-color: rgb(0 0 0);
}

.break-out {
    margin: 1em calc(50% - 50vw);
}

.break-out > img,
.break-out > a > img,
.break-out > p > img,
.break-out > p > a > img {
    margin-left: auto;
    margin-right: auto;
}