---
layout: layouts/home.njk
title: Kirk and Blackbeard
eleventyExcludeFromCollections: true
pagination:
  data: collections.blogposts
  size: 10
  alias: postslist
---

{# {% if page.url == pagination.href.first %}
    <div class="site-intro">
        <p>
            Welcome dear visitor!
        </p>
    </div>
{% endif -%} #}

<h1>Full Steam Ahead</h1>
<p><img src="/images/captains_or_pirates 3.jpg" width="600"></p>
<p>Good digital leadership is hard to find. If your project or product isn’t heading in the right direction, call someone who knows how to get stuff done.</p>
<a href="mailto:captain@kirkandblackbeard.com?subject=Calling%20Kirk" >Call Kirk</a>

<h2>People</h2>
<p>We are people, not AI's.</p>

<ul>
    <li><a href="/people/antoine/">Antoine Demmenie</a> - Ahold, Nike</li>
    <li><a href="/people/laura/">Laura Inzaurralde</a> - ING, WPG, DPG</li>
    <li><a href="/people/reinier/">Reinier Ladan</a> - NOS, VWS, DPG</li>
    <li><a href="/people/david/">David Linssen</a> - BumaStemra, Elsevier Health, Symphony</li>
    <li><a href="/people/laurens/">Laurens de Knijff</a> - BumaStemra, Feelee, SmartOcto</li>
    <li><a href="/people/younes/">Younes Riad</a> - Symphony</li>
</ul>

<h2>Blog</h2>
{% for post in postslist -%}
    <article class="in-list type-article">
        <h2>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <p class="post-date">{{ post.date | readablePostDate }} &nbsp;&nbsp;&nbsp;&nbsp;✍️
            {{ post.data.author }}
        </p>
        {% if post.data.image %}
            <p><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"/></p>
        {% endif %}
        <div>{{ post.templateContent | safe }}</div>
    </article>
{%- endfor -%}
{# <ol class="pagination">
    {%- for pageEntry in pagination.pages %}
        <li>
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
        </li>
    {%- endfor %}
</ol> #}
